:root {
    --primary: #ffc200;
    --secondary: #333;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary);
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
  line-height: 2rem;
}

a {
    text-decoration: none;
}

p {
  color: #666;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: var(--secondary);
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--primary);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid var(--secondary);
}

input[type="range"]::-moz-range-thumb {
  background: var(--primary);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border: 4px solid var(--secondary);
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}


button {
    background: var(--primary);
    cursor: pointer;
    border-color: #000;
    padding: 10px 30px;
    font-size: 1.3rem;
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-radius: 3px;
}
    button:hover {
        background: #aaa;
    }

.text-center {
  text-align: center;
}

.container {
    max-width: 800px;
    margin: 45px auto 30px auto;
}
.box {
    padding: 30px 45px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border: 2px solid var(--secondary);
    box-shadow: 3px 3px 0px var(--secondary);   
    margin-bottom: 45px;
}

.container .title {
  margin: 15px 0 0px 0;
}

.help {
  margin-top: 5px;
}

.form {
  clear: both;
}
.form fieldset {
  font-size: 1.3rem;
  margin-bottom: 45px;
}
  .form label {
    display: block;
    margin-bottom: 15px;
  }
  .form .value, .help {
    float: right;
    color: #aaa;
  }

.answer {
  text-align: center;
  display: none;
}
.answer h1 {
  margin: 30px 0;
  font-size: 3rem;
  line-height: 3rem;
}
  .answer span {
    display: inline-block;
    background: var(--primary);
  }
  .answer .summary {
    font-family: monospace;
    width: 100%;
    padding: 10px;
    min-height: 200px;
  }

footer {
  margin: 30px auto;
  color: #999;
  font-size: 0.975rem;
}

@media (max-width: 800px) {
  .container {
    max-width: none;
    margin: 20px 30px 20px 20px;
    padding: 0;
  }
  .box {
    padding: 0;
    border: 0;
    box-shadow: none;    
  }
  .help {
    float: none;
  }
  .form label {
    float: left;
    max-width: 90%;
  }
}


@media (max-width: 400px) {
  .form label {
    max-width: 70%;
  }
}